# Игнорирование папки IDE
.idea/
*.iml

# Файлы зависимостей
vendor/
go.sum

# Тестовые кэши
*.test
*.out

# Локальные конфиги
.env
*.local

# Автогенерируемые файлы
*.pb.go
*.pb.gw.go

# Системные файлы
.DS_Store
Thumbs.db

# Папка хранения файлов сервиса (если нужно)
/storage/
!/storage/.gitkeep  # Сохраняем пустую папку